In [1]:
from zipfile import ZipFile

# extract zip data
with ZipFile("../data/raw/PS_20174392719_1491204439457_log.csv (1).zip", 'r') as zObject:
    zObject.extractall(path="../data/raw/")

In [2]:
import os
import sys


os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [3]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession \
        .builder.appName('PreprocessData') \
        .master("local[*]")\
        .getOrCreate()

In [5]:
df = spark.read \
    .option("header", "true") \
    .option("index", "true") \
    .csv('../data/raw/PS_20174392719_1491204439457_log.csv')

In [6]:
df.printSchema()

root
 |-- step: string (nullable = true)
 |-- type: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- nameOrig: string (nullable = true)
 |-- oldbalanceOrg: string (nullable = true)
 |-- newbalanceOrig: string (nullable = true)
 |-- nameDest: string (nullable = true)
 |-- oldbalanceDest: string (nullable = true)
 |-- newbalanceDest: string (nullable = true)
 |-- isFraud: string (nullable = true)
 |-- isFlaggedFraud: string (nullable = true)

In [7]:
df.show(10)

+----+--------+--------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|step|    type|  amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|
+----+--------+--------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|   1| PAYMENT| 9839.64|C1231006815|     170136.0|     160296.36|M1979787155|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 1864.28|C1666544295|      21249.0|      19384.72|M2044282225|           0.0|           0.0|      0|             0|
|   1|TRANSFER|   181.0|C1305486145|        181.0|           0.0| C553264065|           0.0|           0.0|      1|             0|
|   1|CASH_OUT|   181.0| C840083671|        181.0|           0.0|  C38997010|       21182.0|           0.0|      1|             0|
|   1| PAYMENT|11668.14|C2048537720|      41554.0|      29885.86|M1230701703|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 7817.71|  C90045638|      53860.0|      46042.29| M573487274|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 7107.77| C154988899|     183195.0|     176087.23| M408069119|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 7861.64|C1912850431|    176087.23|     168225.59| M633326333|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 4024.36|C1265012928|       2671.0|           0.0|M1176932104|           0.0|           0.0|      0|             0|
|   1|   DEBIT| 5337.77| C712410124|      41720.0|      36382.23| C195600860|       41898.0|      40348.79|      0|             0|
+----+--------+--------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
only showing top 10 rows

In [8]:
from pyspark.sql.functions import col,isnan, when, count

# check missing values
df.select(\
    [count( \
        when( isnan(c) | col(c).isNull(), c) \
    ).alias(c) for c in df.columns])\
   .show()

+----+----+------+--------+-------------+--------------+--------+--------------+--------------+-------+--------------+
|step|type|amount|nameOrig|oldbalanceOrg|newbalanceOrig|nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|
+----+----+------+--------+-------------+--------------+--------+--------------+--------------+-------+--------------+
|   0|   0|     0|       0|            0|             0|       0|             0|             0|      0|             0|
+----+----+------+--------+-------------+--------------+--------+--------------+--------------+-------+--------------+

In [8]:
from datetime import datetime, timedelta
from pyspark.sql import functions as F

dt = datetime(2023, 5, 1, 0)
# print(dt + timedelta(days = 4, hours=700))

def step_to_date(step, dt = dt):
    step = int(step)
    new_dt = dt + timedelta(hours=step)

    new_dt_str = new_dt.__str__()
    return new_dt_str

In [56]:
from pyspark.sql.types import TimestampType, StringType, IntegerType, LongType

step_to_date_UDF = F.udf(lambda z: step_to_date(z),StringType())

In [10]:
# df.select(F.col("step"), \
#     step_to_date_UDF(F.col("step")).alias("datetime") ) \
#     .withColumn("datetime", F.to_timestamp("datetime"))\
#    .show()

df_transform = df.withColumn('datetime',\
              F.to_timestamp(\
                  step_to_date_UDF(F.col('step'))\
              ))\
             .select(
                 'datetime',
                 'type',
                'amount',
                'nameOrig',
                'oldbalanceOrg',
                'newbalanceOrig',
                'nameDest',
                'oldbalanceDest',
                'newbalanceDest',
                'isFraud',
                'isFlaggedFraud',
                )

df_transform.show()

+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|           datetime|    type|   amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|
+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|2023-05-01 01:00:00| PAYMENT|  9839.64|C1231006815|     170136.0|     160296.36|M1979787155|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  1864.28|C1666544295|      21249.0|      19384.72|M2044282225|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00|TRANSFER|    181.0|C1305486145|        181.0|           0.0| C553264065|           0.0|           0.0|      1|             0|
|2023-05-01 01:00:00|CASH_OUT|    181.0| C840083671|        181.0|           0.0|  C38997010|       21182.0|           0.0|      1|             0|
|2023-05-01 01:00:00| PAYMENT| 11668.14|C2048537720|      41554.0|      29885.86|M1230701703|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  7817.71|  C90045638|      53860.0|      46042.29| M573487274|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  7107.77| C154988899|     183195.0|     176087.23| M408069119|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  7861.64|C1912850431|    176087.23|     168225.59| M633326333|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  4024.36|C1265012928|       2671.0|           0.0|M1176932104|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00|   DEBIT|  5337.77| C712410124|      41720.0|      36382.23| C195600860|       41898.0|      40348.79|      0|             0|
|2023-05-01 01:00:00|   DEBIT|  9644.94|C1900366749|       4465.0|           0.0| C997608398|       10845.0|     157982.12|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  3099.97| C249177573|      20771.0|      17671.03|M2096539129|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  2560.74|C1648232591|       5070.0|       2509.26| M972865270|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT| 11633.76|C1716932897|      10127.0|           0.0| M801569151|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  4098.78|C1026483832|     503264.0|     499165.22|M1635378213|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00|CASH_OUT|229133.94| C905080434|      15325.0|           0.0| C476402209|        5083.0|      51513.44|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  1563.82| C761750706|        450.0|           0.0|M1731217984|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|  1157.86|C1237762639|      21156.0|      19998.14|M1877062907|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00| PAYMENT|   671.64|C2033524545|      15123.0|      14451.36| M473053293|           0.0|           0.0|      0|             0|
|2023-05-01 01:00:00|TRANSFER| 215310.3|C1670993182|        705.0|           0.0|C1100439041|       22425.0|           0.0|      0|             0|
+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
only showing top 20 rows

In [49]:
df_transform = df_transform.withColumn("id", F.monotonically_increasing_id().cast(IntegerType()))

df_transform.show()

+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+---+------------+
|           datetime|    type|   amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud| id|     id_date|
+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+---+------------+
|2023-05-01 01:00:00| PAYMENT|  9839.64|C1231006815|     170136.0|     160296.36|M1979787155|           0.0|           0.0|      0|             0|  0| 20230501010|
|2023-05-01 01:00:00| PAYMENT|  1864.28|C1666544295|      21249.0|      19384.72|M2044282225|           0.0|           0.0|      0|             0|  1| 20230501011|
|2023-05-01 01:00:00|TRANSFER|    181.0|C1305486145|        181.0|           0.0| C553264065|           0.0|           0.0|      1|             0|  2| 20230501012|
|2023-05-01 01:00:00|CASH_OUT|    181.0| C840083671|        181.0|           0.0|  C38997010|       21182.0|           0.0|      1|             0|  3| 20230501013|
|2023-05-01 01:00:00| PAYMENT| 11668.14|C2048537720|      41554.0|      29885.86|M1230701703|           0.0|           0.0|      0|             0|  4| 20230501014|
|2023-05-01 01:00:00| PAYMENT|  7817.71|  C90045638|      53860.0|      46042.29| M573487274|           0.0|           0.0|      0|             0|  5| 20230501015|
|2023-05-01 01:00:00| PAYMENT|  7107.77| C154988899|     183195.0|     176087.23| M408069119|           0.0|           0.0|      0|             0|  6| 20230501016|
|2023-05-01 01:00:00| PAYMENT|  7861.64|C1912850431|    176087.23|     168225.59| M633326333|           0.0|           0.0|      0|             0|  7| 20230501017|
|2023-05-01 01:00:00| PAYMENT|  4024.36|C1265012928|       2671.0|           0.0|M1176932104|           0.0|           0.0|      0|             0|  8| 20230501018|
|2023-05-01 01:00:00|   DEBIT|  5337.77| C712410124|      41720.0|      36382.23| C195600860|       41898.0|      40348.79|      0|             0|  9| 20230501019|
|2023-05-01 01:00:00|   DEBIT|  9644.94|C1900366749|       4465.0|           0.0| C997608398|       10845.0|     157982.12|      0|             0| 10|202305010110|
|2023-05-01 01:00:00| PAYMENT|  3099.97| C249177573|      20771.0|      17671.03|M2096539129|           0.0|           0.0|      0|             0| 11|202305010111|
|2023-05-01 01:00:00| PAYMENT|  2560.74|C1648232591|       5070.0|       2509.26| M972865270|           0.0|           0.0|      0|             0| 12|202305010112|
|2023-05-01 01:00:00| PAYMENT| 11633.76|C1716932897|      10127.0|           0.0| M801569151|           0.0|           0.0|      0|             0| 13|202305010113|
|2023-05-01 01:00:00| PAYMENT|  4098.78|C1026483832|     503264.0|     499165.22|M1635378213|           0.0|           0.0|      0|             0| 14|202305010114|
|2023-05-01 01:00:00|CASH_OUT|229133.94| C905080434|      15325.0|           0.0| C476402209|        5083.0|      51513.44|      0|             0| 15|202305010115|
|2023-05-01 01:00:00| PAYMENT|  1563.82| C761750706|        450.0|           0.0|M1731217984|           0.0|           0.0|      0|             0| 16|202305010116|
|2023-05-01 01:00:00| PAYMENT|  1157.86|C1237762639|      21156.0|      19998.14|M1877062907|           0.0|           0.0|      0|             0| 17|202305010117|
|2023-05-01 01:00:00| PAYMENT|   671.64|C2033524545|      15123.0|      14451.36| M473053293|           0.0|           0.0|      0|             0| 18|202305010118|
|2023-05-01 01:00:00|TRANSFER| 215310.3|C1670993182|        705.0|           0.0|C1100439041|       22425.0|           0.0|      0|             0| 19|202305010119|
+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+---+------------+
only showing top 20 rows

In [50]:
df_transform.printSchema()

root
 |-- datetime: timestamp (nullable = true)
 |-- type: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- nameOrig: string (nullable = true)
 |-- oldbalanceOrg: string (nullable = true)
 |-- newbalanceOrig: string (nullable = true)
 |-- nameDest: string (nullable = true)
 |-- oldbalanceDest: string (nullable = true)
 |-- newbalanceDest: string (nullable = true)
 |-- isFraud: string (nullable = true)
 |-- isFlaggedFraud: string (nullable = true)
 |-- id: integer (nullable = false)
 |-- id_date: string (nullable = true)

In [62]:
df_transform = df_transform.withColumn('id_date', F.date_format(F.col('datetime'), "yyyyMMdd").cast(IntegerType()))

df_transform.show()

+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+---+--------+
|           datetime|    type|   amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud| id| id_date|
+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+---+--------+
|2023-05-01 01:00:00| PAYMENT|  9839.64|C1231006815|     170136.0|     160296.36|M1979787155|           0.0|           0.0|      0|             0|  0|20230501|
|2023-05-01 01:00:00| PAYMENT|  1864.28|C1666544295|      21249.0|      19384.72|M2044282225|           0.0|           0.0|      0|             0|  1|20230501|
|2023-05-01 01:00:00|TRANSFER|    181.0|C1305486145|        181.0|           0.0| C553264065|           0.0|           0.0|      1|             0|  2|20230501|
|2023-05-01 01:00:00|CASH_OUT|    181.0| C840083671|        181.0|           0.0|  C38997010|       21182.0|           0.0|      1|             0|  3|20230501|
|2023-05-01 01:00:00| PAYMENT| 11668.14|C2048537720|      41554.0|      29885.86|M1230701703|           0.0|           0.0|      0|             0|  4|20230501|
|2023-05-01 01:00:00| PAYMENT|  7817.71|  C90045638|      53860.0|      46042.29| M573487274|           0.0|           0.0|      0|             0|  5|20230501|
|2023-05-01 01:00:00| PAYMENT|  7107.77| C154988899|     183195.0|     176087.23| M408069119|           0.0|           0.0|      0|             0|  6|20230501|
|2023-05-01 01:00:00| PAYMENT|  7861.64|C1912850431|    176087.23|     168225.59| M633326333|           0.0|           0.0|      0|             0|  7|20230501|
|2023-05-01 01:00:00| PAYMENT|  4024.36|C1265012928|       2671.0|           0.0|M1176932104|           0.0|           0.0|      0|             0|  8|20230501|
|2023-05-01 01:00:00|   DEBIT|  5337.77| C712410124|      41720.0|      36382.23| C195600860|       41898.0|      40348.79|      0|             0|  9|20230501|
|2023-05-01 01:00:00|   DEBIT|  9644.94|C1900366749|       4465.0|           0.0| C997608398|       10845.0|     157982.12|      0|             0| 10|20230501|
|2023-05-01 01:00:00| PAYMENT|  3099.97| C249177573|      20771.0|      17671.03|M2096539129|           0.0|           0.0|      0|             0| 11|20230501|
|2023-05-01 01:00:00| PAYMENT|  2560.74|C1648232591|       5070.0|       2509.26| M972865270|           0.0|           0.0|      0|             0| 12|20230501|
|2023-05-01 01:00:00| PAYMENT| 11633.76|C1716932897|      10127.0|           0.0| M801569151|           0.0|           0.0|      0|             0| 13|20230501|
|2023-05-01 01:00:00| PAYMENT|  4098.78|C1026483832|     503264.0|     499165.22|M1635378213|           0.0|           0.0|      0|             0| 14|20230501|
|2023-05-01 01:00:00|CASH_OUT|229133.94| C905080434|      15325.0|           0.0| C476402209|        5083.0|      51513.44|      0|             0| 15|20230501|
|2023-05-01 01:00:00| PAYMENT|  1563.82| C761750706|        450.0|           0.0|M1731217984|           0.0|           0.0|      0|             0| 16|20230501|
|2023-05-01 01:00:00| PAYMENT|  1157.86|C1237762639|      21156.0|      19998.14|M1877062907|           0.0|           0.0|      0|             0| 17|20230501|
|2023-05-01 01:00:00| PAYMENT|   671.64|C2033524545|      15123.0|      14451.36| M473053293|           0.0|           0.0|      0|             0| 18|20230501|
|2023-05-01 01:00:00|TRANSFER| 215310.3|C1670993182|        705.0|           0.0|C1100439041|       22425.0|           0.0|      0|             0| 19|20230501|
+-------------------+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+---+--------+
only showing top 20 rows

In [63]:
df_transform.tail(1)

[Row(datetime=datetime.datetime(2023, 5, 31, 23, 0), type='CASH_OUT', amount='850002.52', nameOrig='C1280323807', oldbalanceOrg='850002.52', newbalanceOrig='0.0', nameDest='C873221189', oldbalanceDest='6510099.11', newbalanceDest='7360101.63', isFraud='1', isFlaggedFraud='0', id=1546705, id_date=20230531)]

In [54]:
df_transform.printSchema()

root
 |-- datetime: timestamp (nullable = true)
 |-- type: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- nameOrig: string (nullable = true)
 |-- oldbalanceOrg: string (nullable = true)
 |-- newbalanceOrig: string (nullable = true)
 |-- nameDest: string (nullable = true)
 |-- oldbalanceDest: string (nullable = true)
 |-- newbalanceDest: string (nullable = true)
 |-- isFraud: string (nullable = true)
 |-- isFlaggedFraud: string (nullable = true)
 |-- id: integer (nullable = false)
 |-- id_date: string (nullable = true)

In [40]:
# df_transform.write.options(header='True', delimiter=',') \
#  .csv("../data/preprocessed/PS_20174392719_1491204439457_log.csv")

df_transform.write.parquet("../data/preprocessed/online_transactions.parquet")

In [47]:
spark.stop()